#overlay {
    pointer-events: none;
    transition: 200ms ease-in-out;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  #overlay2 {
    pointer-events: none;
    transition: 200ms ease-in-out;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 0.8;
    background-color: rgba(52, 61, 96, 0.803);
    pointer-events: all;
  }

  #overlay2.active {
    opacity: 0.8;
    background-color: rgba(223, 58, 231, 0.671);
    pointer-events: all;
  }

.animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  
  #titleSeq1 {
    background-color: rgb(64, 148, 64);
    animation: 5s green;
    -webkit-animation: green 5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
    -webkit-clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
  }
  
  #titleSeq2 {
    background-color: rgb(232, 169, 12);
    animation: 4s orange;
    -webkit-animation: orange 4s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
    -webkit-clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
  }
  
  #titleSeq3 {
    background-color: rgb(253, 169, 183);
    animation: 8s pink;
    -webkit-animation: 8s pink;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
    -webkit-clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
  }
  
  #titleSeq4 {
    background-color: rgb(100, 172, 201);
    animation: 4s backBlue;
    -webkit-animation: 4s backBlue;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
    -webkit-clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
  }

  #titleSeq5 {
    background-color: rgb(0, 0, 0);
  }

  #moon {
    background-color: rgb(216, 211, 116);
    clip-path: circle(12% at 16% 30%);
    -webkit-clip-path: circle(12% at 16% 30%);
    opacity: 1;
    animation: 12s moon;
    -webkit-animation: 12s moon;
    animation-fill-mode: forwards;
  }
  
  #house {
    background-color: rgb(147, 88, 0);
    clip-path: polygon(48% 1%, 0 65%, 18% 66%, 20% 100%, 40% 100%, 39% 80%, 53% 78%, 53% 100%, 72% 100%, 87% 100%, 87% 69%, 100% 67%, 85% 42%, 91% 26%, 79% 15%, 73% 26%);
    -webkit-clip-path: polygon(48% 1%, 0 65%, 18% 66%, 20% 100%, 40% 100%, 39% 80%, 53% 78%, 53% 100%, 72% 100%, 87% 100%, 87% 69%, 100% 67%, 85% 42%, 91% 26%, 79% 15%, 73% 26%);
    animation: house 10s, house-color 16s infinite 0s;
    -webkit-animation: house 10s, house-color 16s infinite 0s;
    opacity: 1;
    border-bottom: rgb(18, 52, 18) double 0.3em;
  }
  
  #smoke {
    width: 16vw;
    transform: rotateZ(3deg);
    background-color: rgb(167, 167, 164);
    clip-path: polygon(30% 28%, 38% 12%, 56% 0, 70% 0, 45% 18%, 61% 13%, 53% 30%, 62% 44%, 44% 66%, 35% 100%, 39% 53%, 38% 37%);
    -webkit-clip-path: polygon(30% 28%, 38% 12%, 56% 0, 70% 0, 45% 18%, 61% 13%, 53% 30%, 62% 44%, 44% 66%, 35% 100%, 39% 53%, 38% 37%);
    animation: fadein 12s forwards, smoke 16s infinite 0s;
    -webkit-animation: fadein 12s forwards, smoke 16s infinite 0s;
    opacity: 1;
  }

  @media only screen 
  and (max-width: 1024px) and (max-height: 714px) { 
    #smoke {
        margin-bottom: 4rem;
        margin-left: 1rem;
    }
    #house {
        margin-top: 10px;
        margin-left: 10px;
    }
  }

  @media only screen and (max-width: 640px){ 
   
    
  }


  @media only screen 
  and (max-width: 1100px){ 
    #smoke {
        margin-bottom: 4rem;
        margin-left: 1rem;
    }
    #house {
        margin-left: 10px;
    }
  }
