.titleFont {
    --max-size: 50;
    --min-size: 20;
    font-size: var(--responsive);
    font-family: 'Permanent Marker', cursive;
    text-shadow: rgb(213, 213, 213) 2px 2px;
    line-height: 3rem;
    color: rgb(26, 24, 24);
    margin-top: 0.25em;
}

.historyCard {
    min-height: "82vh";
}

.historyCardClip {
    clip-path: polygon(88% 0, 96% 4%, 100% 13%, 100% 97%, 96% 100%, 4% 100%, 0 96%, 0 0);
}

.noInfo {
    --max-size: 20;
    --min-size: 12;
    font-size: var(--responsive);
}

.quizTags {
    font-family: 'Nanum Pen Script', cursive;
    --max-size: 23;
    --min-size: 14;
    font-size: var(--responsive);
}

.historyPopup {
    height: 20vh;
    width: 75%;
    position: absolute;
    top: 3rem;
    left: 3rem;
    margin-top: 1rem;
}

.overlayHistory {
    pointer-events: none;
    transition: 200ms ease-in-out;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.488);
}

.historyXbtn{
    margin-right: 2rem;
    margin-top: 2rem;
}

@media only screen 
  and (max-width: 1024px) and (max-height: 714px) { 
    .historyXbtn{
        margin-right: 1rem;
        margin-top: 0.25rem;
    }
    .historyPopup {
        height: 40vh;
    }
  }

  @media only screen and (max-width: 375px){ 
    .historyXbtn{
        margin-right: 0.35rem;
        margin-top: 0.25rem;
    }
    .historyPopup {
        width: 100%;
        left:0;
        margin-left: 0rem;
        margin-top: 0rem;
    }
    
  }


  @media only screen 
  and (max-width: 1100px){ 
    .historyPopup {
        min-height: 20vh;
        max-height: 40vh;
        margin-top: 0rem;
        width: 75%;
        margin-left:2rem;
    }
  }
