* {
  --cardW: 50vw;
  --cardH: calc(90vh - var(--boxPadding));
  --boxPadding: 2rem;
  --buttonPadding: 1rem;
  --kanjiH: calc(var(--cardH) * (0.25));
  --gifBoxH: calc(var(--cardH) * 0.75);
}

.quizTitle {
  --max-size: 80;
  --min-size: 40;
  font-size: var(--responsive);
  font-family: 'Kosugi Maru', sans-serif;
}

.quizLang {
  --max-size: 140;
  --min-size: 60;
  font-size: var(--responsive);
  font-family: 'Permanent Marker', cursive;
}

.quizHighScore {
  --max-size: 40;
  --min-size: 20;
  font-size: var(--responsive);
  font-family: 'Kosugi Maru', sans-serif;
}

.character {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  calc(var(--kanjiH) * 0.5);
  width: 100%;
  color: white;
  --max-size: 25;
  --min-size: 12;
  font-size: var(--responsive);
  margin-bottom: -0em;
  margin-top: -0.4em;
  font-family: monospace;
  overflow-wrap: break-word;
}

.kanji {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  var(--kanjiH);
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(255, 255, 255);
  --max-size: 58;
  --min-size: 15;
  font-size: var(--responsive);
  margin-top: -10px;
  margin-bottom: -10px;
  overflow-wrap: break-word;
}

.jpnChar {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  var(--kanjiH);
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(255, 255, 255);
  --max-size: 58;
  --min-size: 25;
  font-size: var(--responsive);
  margin-top: -10px;
  margin-bottom: -10px;
  overflow-wrap: break-word;
}

.kanji2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  calc(var(--kanjiH)*0.5);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(80, 80, 80);
  --max-size: 45;
  --min-size: 30;
  font-size: var(--responsive);
}

.furiChar {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  var(--kanjiH);
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(255, 255, 255);
  --max-size: 75;
  --min-size: 40;
  font-size: var(--responsive);
  overflow-wrap: break-word;
}

.engChar {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  var(--kanjiH);
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(255, 255, 255);
  --max-size: 35;
  --min-size: 20;
  font-size: var(--responsive);
  margin-top: -10px;
  margin-bottom: -10px;
  overflow-wrap: break-word;
}

.kanji4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  var(--kanjiH);
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(255, 255, 255);
  --max-size: 42;
  --min-size: 12;
  font-size: var(--responsive);
  margin-top: -10px;
  margin-bottom: -10px;
}

.btn {
  background-color: #90cdf4;
  width: calc((var(--cardW) * 0.5) - (var(--boxPadding) + var(--buttonPadding)));
  height: calc(var(--cardH) * 0.20);
}

.btn:hover {
  background-color: #5a67d8;
}

.engWord{
  overflow-wrap: break-word;
  --max-size: 20;
  --min-size: 12;
  font-size: var(--responsive);
}

.jpnWord {
  overflow-wrap: break-word;
  --max-size: 30;
  --min-size: 12;
  font-size: var(--responsive);
}

.furiWord{
  overflow-wrap: break-word;
  --max-size: 40;
  --min-size: 20;
  font-size: var(--responsive);
}

.quizGifBox {
  height: calc(var(--cardH) * 0.75);
  width: calc(var(--cardW));
}

.gifBox {
  width: calc(var(--cardW) * 0.5);
  height: calc(var(--gifBoxH) * (4/5))
}

.textAnswer {
  width: calc(var(--cardW) * 0.5);
  height: calc(var(--gifBoxH) * (1/5));
  --max-size: 35;
  --min-size: 15;
  font-size: var(--responsive);
  letter-spacing: 0.35rem;
}


@media only screen 
  and (max-width: 1024px) and (max-height: 714px) { 

    .kanji3 {
      display: block;
      font-family: 'Kosugi Maru', sans-serif;
      color: rgb(255, 255, 255);
      --max-size: 60;
      --min-size: 20;
      font-size: var(--responsive);
      margin-top: -10px;
      margin-bottom: -10px;
      overflow-wrap: break-word;
    }

    .kanji4 {
      display: flex;
      align-items: center;
      justify-content: center;
      height:  var(--kanjiH);
      padding-left: 2rem;
      padding-right: 2rem;
      font-family: 'Kosugi Maru', sans-serif;
      color: rgb(255, 255, 255);
      --max-size: 25;
      --min-size: 8;
      font-size: var(--responsive);
      margin-top: -10px;
      margin-bottom: -10px;
      overflow-wrap: break-word;
    }

  }

  @media only screen 
  and (max-width: 1100px){ 

    .kanji4 {
      display: flex;
      align-items: center;
      justify-content: center;
      height:  var(--kanjiH);
      padding-left: 2rem;
      padding-right: 2rem;
      font-family: 'Kosugi Maru', sans-serif;
      color: rgb(255, 255, 255);
      --max-size: 50;
      --min-size: 20;
      font-size: var(--responsive);
      margin-top: -10px;
      margin-bottom: -10px;
      overflow-wrap: break-word;
    }

  }