* {
  --cardW: 50vw;
  --cardH: calc(90vh - var(--boxPadding));
  --boxPadding: 2rem;
  --buttonPadding: 1rem;
  --kanjiH: calc(var(--cardH) * (0.25));
}

.character {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  calc(var(--kanjiH) * 0.5);
  width: 100%;
  color: white;
  --max-size: 40;
  --min-size: 15;
  font-size: var(--responsive);
  margin-bottom: -0em;
  margin-top: -0.4em;
  font-family: monospace;
  overflow-wrap: break-word;
}

.kanji {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  var(--kanjiH);
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(255, 255, 255);
  --max-size: 58;
  --min-size: 15;
  font-size: var(--responsive);
  margin-top: -10px;
  margin-bottom: -10px;
  overflow-wrap: break-word;
}

.kanji2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  var(--kanjiH);
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(255, 255, 255);
  --max-size: 30;
  --min-size: 15;
  font-size: var(--responsive);
  overflow-wrap: break-word;
}

.kanji3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  var(--kanjiH);
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(255, 255, 255);
  --max-size: 150;
  --min-size: 80;
  font-size: var(--responsive);
  margin-top: -10px;
  margin-bottom: -10px;
  overflow-wrap: break-word;
}

.kanji4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  var(--kanjiH);
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(255, 255, 255);
  --max-size: 42;
  --min-size: 12;
  font-size: var(--responsive);
  margin-top: -10px;
  margin-bottom: -10px;
  overflow-wrap: break-word;
}

.btn {
  background-color: #90cdf4;
  --max-size: 15;
  --min-size: 6;
  font-size: var(--responsive);
  width: calc((var(--cardW) * 0.5) - (var(--boxPadding) + var(--buttonPadding)));
  height: calc(var(--cardH) * 0.20);
  overflow-wrap: break-word;
}

.btn:hover {
  background-color: #5a67d8;
}


@media only screen 
  and (max-width: 1024px) and (max-height: 714px) { 

    .kanji3 {
      display: block;
      font-family: 'Kosugi Maru', sans-serif;
      color: rgb(255, 255, 255);
      --max-size: 60;
      --min-size: 20;
      font-size: var(--responsive);
      margin-top: -10px;
      margin-bottom: -10px;
      overflow-wrap: break-word;
    }

  }