#quizOverlay {
  pointer-events: none;
  transition: 200ms ease-in-out;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#quizOverlay.active {
  opacity: 0.8;
  background-color: rgba(43, 36, 21, 0.81);
  pointer-events: all;
}

.speechText {
  --max-size: 35;
  --min-size: 15;
  font-size: var(--responsive);
}

.speechTextPlus {
  --max-size: 38;
  --min-size: 18;
  font-size: var(--responsive);
}

.speechTextName {
  overflow-wrap: break-word;
}

.speechBubble {
  height: 70%;
  animation-fill-mode: forwards;
  animation: 3s speechText;
  -webkit-animation: 3s speechText;
  clip-path: polygon(34% 0, 78% 4%, 99% 29%, 96% 81%, 57% 100%, 14% 89%, 9% 65%, 0 60%, 9% 50%, 10% 16%);
  -webkit-clip-path: polygon(34% 0, 78% 4%, 99% 29%, 96% 81%, 57% 100%, 14% 89%, 9% 65%, 0 60%, 9% 50%, 10% 16%);
  font-family: 'Nanum Pen Script', cursive;
}

/* Animation */

.teacherPortraitBox {
  animation: 1.5s tPort;
  -webkit-animation: 1.5s tPort;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes speechText {
  0% {
    opacity: 0%;
    -webkit-filter: opacity(0);
    clip-path: polygon(15% 35%, 26% 34%, 31% 42%, 29% 56%, 24% 69%, 12% 73%, 9% 65%, 0 60%, 9% 50%, 11% 41%);
    -webkit-clip-path: polygon(15% 35%, 26% 34%, 31% 42%, 29% 56%, 24% 69%, 12% 73%, 9% 65%, 0 60%, 9% 50%, 11% 41%);
  }

  50% {
    opacity: 80%;
    -webkit-filter: opacity(0);
    clip-path: polygon(24% 44%, 44% 36%, 74% 49%, 38% 77%, 23% 67%, 12% 73%, 9% 65%, 0 60%, 9% 50%, 28% 55%);
    -webkit-clip-path: polygon(24% 44%, 44% 36%, 74% 49%, 38% 77%, 23% 67%, 12% 73%, 9% 65%, 0 60%, 9% 50%, 28% 55%);
  }

  100% {
    opacity: 100%;
    -webkit-filter: opacity(1);
    clip-path: polygon(34% 0, 78% 4%, 99% 29%, 96% 81%, 57% 100%, 14% 89%, 9% 65%, 0 60%, 9% 50%, 10% 16%);
    -webkit-clip-path: polygon(34% 0, 78% 4%, 99% 29%, 96% 81%, 57% 100%, 14% 89%, 9% 65%, 0 60%, 9% 50%, 10% 16%);
  }
}


@media only screen and (max-width: 1024px) and (max-height: 714px) {

  .speechText {
    --max-size: 30;
    --min-size: 10;
    font-size: var(--responsive);
  }

  .speechTextPlus {
    --max-size: 33;
    --min-size: 12;
    font-size: var(--responsive);
  }

}