
.textLineH{
  line-height: 3.75rem;
}

#quizOverlay {
  pointer-events: none;
  transition: 200ms ease-in-out;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#quizOverlay.active {
  opacity: 0.8;
  background-color: rgba(43, 36, 21, 0.81);
  pointer-events: all;
}

.speechText {
  --max-size: 35;
  --min-size: 18;
  font-size: var(--responsive);
}

.speechTextPlus {
  --max-size: 38;
  --min-size: 18;
  font-size: var(--responsive);
}

.speechTextName {
  overflow-wrap: break-word;
  --max-size: 38;
  --min-size: 18;
  font-size: var(--responsive);
}

.speechBubble {
  height: 70%;
  animation-fill-mode: forwards;
  animation: 2s sText;
  -webkit-animation: 2s sText;
  clip-path: polygon(34% 0, 78% 4%, 99% 29%, 96% 81%, 57% 100%, 14% 89%, 9% 65%, 0 60%, 9% 50%, 10% 16%);
  -webkit-clip-path: polygon(34% 0, 78% 4%, 99% 29%, 96% 81%, 57% 100%, 14% 89%, 9% 65%, 0 60%, 9% 50%, 10% 16%);
  font-family: 'Nanum Pen Script', cursive;
}

.teacherPortrait {
  height: 60%;
  width: 70%;
  object-fit: cover;
}

/* Animation */

.teacherPortraitBox {
  animation: 1.5s tPort;
  -webkit-animation: 1.5s tPort;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes sText {
  0% {
    opacity: 0;
    -webkit-filter: opacity(0);
  }

  70% {
    opacity: 0;
    -webkit-filter: opacity(0);
  }

  100% {
    opacity: 1;
    -webkit-filter: opacity(1);
  }
}


@media only screen and (max-width: 1024px) and (max-height: 714px) {

  .textLineH{
    line-height: 2.5rem;
  }

  .speechText {
    --max-size: 30;
    --min-size: 16;
    font-size: var(--responsive);
  }

  .speechTextPlus {
    --max-size: 33;
    --min-size: 16;
    font-size: var(--responsive);
  }

  .teacherPortrait {
    height: 70%;
    width: 70%;
  }

  .oniSymbol {
    height: 10vh;
    width: 10vw;
    background-size: 7vw 6vh;
  }

}

@media only screen and (max-width: 375px){ 
  .oniSymbol {
    height: 4vh;
    width: 22vw;
    background-size: 6vw 6vh;
  }

  .textLineH{
    line-height: 2.8rem;
  }

}