footer {
    height:8vh
}

footer p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: var(--responsive);
    --max-size: 30;
    --min-size: 15;
}


.footer {
    font-family: 'Nanum Pen Script', cursive;
        --max-size: 25;
        --min-size: 15;
      font-size: var(--responsive);
      margin-right: 3rem;
}

@media only screen and (max-width: 376px){ 
    .footer {
        margin-right: 1rem;
    }

    .ftkT {
        margin-right: 1rem;
    }
}
