.kanji {
    font-family: 'Kosugi Maru', sans-serif;
    --max-size: 50;
    --min-size: 25;
    font-size: var(--responsive);
    margin-top: -10px;
    margin-bottom: -10px;
    text-shadow:
   -8px -5px 0 rgb(147, 196, 139),  
    8px -5px 0 rgb(142, 163, 209),
    -8px 5px 0 rgb(215, 216, 172),
     8px 5px 0 rgb(206, 156, 156);
}

.kanji2 {
    font-family: 'Kosugi Maru', sans-serif;
    --max-size: 30;
    --min-size: 15;
    font-size: var(--responsive);
}